* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    margin-bottom: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

a {
    color: rgb(42, 204, 169);
    padding-right: 2px;
}

.column {
    float: left;
    width: 50%;
}

.card {
    padding: 10px;
}

.no-decor {
    text-decoration: none;
}

.article-text, .article-title, .article-emphasis {
    text-align: left;
}

.article-text {
    padding-bottom: 20px;
}

.article-title {
    padding-top: 10px;
}

.article-emphasis {
    color: rgb(33, 181, 250);
    font-style: italic;
}